<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Order</title>
</head>
<body>
    <h1 class="main-header">Current Order</h1>
    <div class="home">
        <a href="{{ url_for('home') }}">Home</a>
    </div>
    <div class="cupcake-container">
        {% for cupcake in cupcakes %}
        <div class="cupcake">
                <h3 class="cupcake-name">{{ cupcake["name"] }}</h3>
            <h4 class="cupcake-desc">Flavor: {{ cupcake["flavor"] }}</h4>
            <h4 class="cupcake-desc">Frosting: {{ cupcake["frosting"] }}</h4>
            <h4 class="cupcake-desc">Price: ${{ cupcake["price"] }}</h4>
        </div>
        {% endfor %}
    </div>
</body>
</html>